{% extends 'base.html.twig' %}

{% block title %}BookType{% endblock %}

{% block body %}
    <h1>BookType</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book_type.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ book_type.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_book_type_index') }}">back to list</a>

    <a href="{{ path('app_book_type_edit', {'id': book_type.id}) }}">edit</a>

    {{ include('book_type/_delete_form.html.twig') }}
{% endblock %}
